{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% block title %}
  Log
  in
{% endblock %}
{% block content %}
  <h1 class="block text-center px-12 bg-slate-900 roboto text-xl text-white">Log in</h1>
  <div class="absolute left-1/2 -translate-x-1/2 bg-slate-900 p-24 rounded-md">
    <form method="post" class='crispy-form'>
      {% csrf_token %} {{ form|crispy }}
      <button class="cursor-pointer bg-blue-800 text-white roboto-condensed border-2 border-black text-lg"
              type="submit">
        Log in
      </button>
    </form>
    <a class='text-blue-300' href="{% url 'account_reset_password' %}">Forgot Password?</a>
  </div>
{% endblock content %}
