{% extends '_base.html' %}
{% load static %}
{% block title %}
    Item Index
{% endblock title %}
{% block content %}
    <h1 class='block text-center px-12 bg-slate-900 text-xl roboto text-white'>Item Index</h1>
    <div class='absolute left-1/2 w-3/5 -translate-x-1/2 bg-slate-900 px-24 py-12 rounded-md'>
        <table class='table-fixed border-collapse w-full child:border child:border-blue-500 child:border-solid'>
            <thead class=''>
                <tr class='child:text-left px-2 child:p-2'>
                    <th>Name</th>
                    <th>Source</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            {% for item in items %}
                <tr class='child:w-1/5 child:overflow-hidden child:p-2 child:border-collapse child:border-solid child:border-blue-500 child:border'>
                    <td>{{ item.name }}</td>
                    <td class=''>
                        {% if item.url != None %}
                            <img class="w-1/2" src="{{ item.url }}"/>
                        {% else %}
                            {{ item.url }}
                        {% endif %}
                    </td>
                    <td>{{ item.status }}</td>
                    <td>{% if item.status.title != 'Processing' %}<a href='#' class='text-white bg-blue-500 p-2 rounded-md no-underline'><span class="material-icons">redo</span> {% if item.status.title == 'Processed' %}Re-{% endif %}Process</a>{% if item.status.title == 'Processed' %} | <a href='#' class='text-white bg-blue-500 p-2 rounded-md no-underline'><span class="material-icons">undo</span> Unprocess</a>{% endif %}{% endif %}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock content %}
